services:
  kafka:
    image: quay.io/strimzi/kafka:latest-kafka-3.7.0
    hostname: kafka
    container_name: kafka
    command: [ "sh", "-c", "bin/kafka-storage.sh format -t MkU3OEVBNTcwNTJENDM2Qk -c config/kraft/server.properties && bin/kafka-server-start.sh config/kraft/server.properties --override listeners=INTERNAL://0.0.0.0:9094,EXTERNAL://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093 --override advertised.listeners=INTERNAL://kafka:9094,EXTERNAL://localhost:9092 --override listener.security.protocol.map=CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT --override inter.broker.listener.name=INTERNAL --override controller.quorum.voters=1@kafka:9093" ]
    ports:
      - "9092:9092"
    environment:
      LOG_DIR: "/tmp/logs"
    healthcheck:
      test: [ "CMD-SHELL", "bin/kafka-broker-api-versions.sh --bootstrap-server localhost:9092" ]
      interval: 10s
      timeout: 10s
      retries: 5
  timescaledb:
    image: timescale/timescaledb:latest-pg15
    container_name: openpipe-timescaledb
    environment:
      POSTGRES_USER: openpipe
      POSTGRES_PASSWORD: openpipe
      POSTGRES_DB: openpipe_data
    ports:
      - "5432:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U openpipe -d openpipe_data" ]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "8082:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9094

volumes:
  timescale_data:
